{% extends 'base_bootstrap.html' %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'products:all' %}">CRM System</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% url 'products:all' as products %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == products %}active{% endif %}" href="{% url 'products:all' %}" role="button">Products</a>
            </li>
            {% url 'customers:all' as customers %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == customers %}active{% endif %}" href="{% url 'customers:all' %}" role="button">Customers</a>
            </li>
        </ul>
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <!--<li class="nav-item dropdown">-->
          <!--   <a class="nav-link dropdown-toggle" href="#" id="rightnavDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
          <!--      {{ user.username }}<b class="caret"></b>-->
          <!--  </a>-->
          <!--  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="rightnavDropdown">-->
          <!--      <li>-->
          <!--          <form action="{% url 'logout' %}" method="post" class="d-inline">-->
          <!--              {% csrf_token %}-->
          <!--              <input type="hidden" name="next" value="{% url 'products:all' %}">-->
          <!--              <button class="dropdown-item btn btn-link" type="submit">Logout</button>-->
          <!--          </form>-->
          <!--      </li>-->
          <!--  </ul>-->
          <!--</li>-->
          <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}?next={% url 'products:all' %}">Logout</a></li>
           {% else %}
           <li class="nav-item"><a class="nav-link" href="{% url 'login' %}?next={% url 'products:all' %}">Login</a></li>
           {% endif %}
        </ul>
    </div>
  </div>
</nav>
{% endblock %}