{% extends "base_menu.html" %}
{% block content %}
<h1>Products List</h1>
<div style="float:right">
<form>
  <input type="text" placeholder="Search.." name="search" {% if search %} value="{{ search }}" {% endif %} >
  <button type="submit"><i class="fa fa-search"></i></button>
  <a href="{% url 'products:all' %}"><i class="fa fa-undo"></i></a>
</form>
</div>
<p>
{% if product_list %}
<ul>
  {% for product in product_list %}
    <li>
        <a href="{% url 'products:product_detail'  product.pk %}">{{ product.name }}</a>
        | {{ product.description }}
        | ${{ product.price }}
        | {{ product.status }}
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>There are no products in the database.</p>
{% endif %}
</p>
<p>
{% if user.is_superuser %}
<a href="{% url 'products:product_create'%}">Create new product </a>
{% endif %}
</p>
<p>
{% if user.is_authenticated %}
    <strong><p> Logged in as {{ user.username }}. Role: {{ user.role }}</p> </strong>
{% else %}
    <strong><p>Not currently logged in.</p></strong>
{% endif %}
</p>

{% endblock %}