{% extends "base_menu.html" %}
{% block content %}
<h1>Products List</h1>
<div style="float:right">
<form>
  <input type="text" placeholder="Search.." name="search" {% if search %} value="{{ search }}" {% endif %} >
  <button type="submit"><i class="fa fa-search"></i></button>
  <a href="{% url 'products:all' %}"><i class="fa fa-undo"></i></a>
</form>
</div>
<p>
{% if page_obj %}
<ul>
  {% for product in page_obj %}
    <li>
        <a href="{% url 'products:product_detail'  product.pk %}">{{ product.name }}</a>
        | {{ product.description }}
        | ${{ product.price }}
        | {{ product.status }}
    </li>
  {% endfor %}
</ul>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{{search_link}}">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}{{ search_link }}"> Previous </a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{{ search_link }}"> Next </a>
                <a href="?page={{ page_obj.paginator.num_pages }}{{ search_link }}"> Last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% else %}
  <p>There are no products in the database.</p>
{% endif %}
</p>
<p>
{% if user.is_superuser %}
<a href="{% url 'products:product_create'%}">Create new product </a>
{% endif %}
</p>
<p>
{% if user.is_authenticated %}
    <strong><p> Logged in as {{ user.username }}. Role: {{ user.role }}</p> </strong>
{% else %}
    <strong><p>Not currently logged in.</p></strong>
{% endif %}
</p>

{% endblock %}